.category-title {
  font-family: 'LifeEFRegular';
  font-weight: bold;
  margin-right: 20px;
  font-size: 18px 
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px
}

.line {
  height: 2px;
  width: calc(50% - 56px);
  background: grey;
}

.dashboard-title {
  font-family: 'LifeEFRegular';
  font-weight: bold;
  font-size: 28px;
  margin: 0px 10px
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-category {
  width: calc(50% - 28px);
  margin-bottom: 10px;
  background: #d8d8d8;
  padding: 10px;
}

.dashboard-category:nth-child(odd) {
   margin-right:15px
} 

.category-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* border: 1px solid black; */
  background: white;
  /* border-radius: 4px; */
  padding: 6px;
}


.post-item-list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.post-item-list div:not(:last-child) {
  margin-bottom: 10px
}

.post-item-title {
  font-family: 'LifeEFRegular';
  font-size: 16px;
  margin: 0
}