.Sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  top:0;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.sidebar-content > p {
  font-family: 'Phaser-AGX';
  font-size: 22px;
}

.sidebar-content-open-hall > p {
  font-family: 'Phaser-CGX';
  font-size: 22px;
}

.sidebar-content, .sidebar-content-open-hall {
  margin-bottom: 30px
}

.tag-entry {
  cursor: pointer;
}