body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Phaser-AGX";
  src: local("Phaser-AGX"),
    url("./fonts/Phase-AGX_98-22-66.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Phaser-CGX";
  src: local("Phaser-CGX"),
    url("./fonts/Phase-CGX_27-11-0.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "LifeEFRegular";
  src: local("LifeEFRegular"),
    url("./fonts/LifeEF\ Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "LifeEFRegular";
  src: local("LifeEFRegular"),
    url("./fonts/LifeEF\ Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "LifeEFRegular";
  src: local("LifeEFRegular"),
    url("./fonts/LifeEF\ Regular\ Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
